{% extends 'layout/base.html' %}

{% block content %}
<div class="cakes">
    {% for cake in cakelist %}
    <p>
        Cake : {{cake.name}} <br>
        Price : {{cake.price}} <br>
        Details : {{cake.description}}<br>
    </p>
    {% empty %}
    <p> No cake available right now! </p>
    {% endfor %}
</div>
<div class="biscuits">
    {% for bisc in biscuitlist %}
    <p>
        Biscuit : {{bisc.name}} <br>
        Price : {{bisc.price}} <br>
        Details : {{bisc.description}}<br>
    </p>
    {% empty %}
    <p> No biscuits available right now! </p>
    {% endfor %}
</div>
{% endblock %}